main {
  background-color: #ECECEC;
}

.grey-box {
  width: 4rem !important;
  border: 2px lightgrey solid !important;
}

a:link {
  color: white;
  text-decoration: none;
}

.carousel-item {
  height: 80vh;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  position: relative;
  bottom: -44%;
}